[user]
	name = wangjh
	email = wangjianhui2003@outlook.com
[init]
	defaultBranch = main

; delta git diff viewer config
; [core]
;     pager = delta
;
; [interactive]
;     diffFilter = delta --color-only
;
; [delta]
;     navigate = true  # use n and N to move between diff sections
;     dark = true      # or light = true, or omit for auto-detection
;     line-numbers = true
;
; [merge]
;     conflictStyle = zdiff3

; diff-so-fancy viewer
; [core]
; 	pager = diff-so-fancy | less --tabs=4 -RF
; [interactive]
; 	diffFilter = diff-so-fancy --patch
